@using daco3.Models

@{
    ViewBag.Title = "Zaznami";
    Layout = "~/Views/Shared/MojBlbyLayout.cshtml";
}
@model Tabulka
<style>

    table, td {
        border: 1px solid #ccc;
    }

    table {
        text-align: center;
        table-layout: auto;
        border-collapse: collapse;
        margin-top: 100px;
    }

    th {
        text-align: center;
    }

    body {
        background-color: azure;
    }
</style>




<body>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Meno</th>
                <th>Datum</th>
                <th>Cas</th>
                <th>Typ</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.tableZaznami)
            {

                <tr>
                    <td>@item.Uzivatel.Username</td>
                    <td>@item.Cas.ToString("dd.MM.yyyy")</td>
                    <td>@item.Cas.ToString("HH:mm")</td>
                    <td>@item.Typ</td>
                </tr>
            }
        </tbody>

    </table>

</body>
