@using daco3.Models;
@using PagedList;
@using PagedList.Mvc;
@using System.Linq;
@{
    ViewBag.Title = "Zaznami";
    Layout = "~/Views/Shared/MojBlbyLayout.cshtml";
    var grid = new WebGrid(canPage: true, rowsPerPage: 10);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRow, autoSortAndPage: false);
}


@*/ @model Tabulka /*@
@model IPagedList<GridTabulka>


<style>
    #table {
        margin-top: 100px;
    }
</style>>


<body>

    <div id="table">
        @grid.GetHtml(
               tableStyle: "table table-responsive table-bordered table-hover",
               columns: grid.Columns(
                        grid.Column(columnName: "Meno", header: "Meno"),
                        grid.Column(columnName: "Datum", header: "Datum"),
                        grid.Column(format: (item) => Html.ActionLink("Info", "ZaznamPodrobne","Home", new { id = item.ZaznamId },null))
                                     )

                      )

    </div>
    <div class="row">
        <div class="col-sm-6">
            @Html.PagedListPager(Model, page => Url.Action("Zaznami", new { page }))
        </div>

    </div>





</body>
